Ingredients

<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
<ul>

<div>
  <form action = "/ingredients" method = 'post'>
    <label>Name</label>
    <input></input>
    <button>Create</button>
  </form>
</div>
